.wrapper {
    margin: 0 auto;
}
.header {
    
}
.header__container {
    margin: 0 auto;
    width: 1296px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    column-gap: 40px;
}
.menu__item {
    list-style: none;
}
.menu__link {
    color: var(--Content-header, #1B1C20);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
text-decoration: none;
}
.header__buttons {
}
.button {
}
.button__login {
    background: none;
    border: 0;
    color: var(--Content-header, #1B1C20);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 187.5% */
margin-right: 34px;
}
.button__getStarted {
    width: 167px;
height: 50px;
flex-shrink: 0;
border-radius: 8px;
background: var(--Brand-P1, #FB8E0B);
color: var(--Content-nuetral, #FFF);
text-align: right;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
border: #FB8E0B;
text-align: center;
}
.main {
}
.main__container {
    width: 1296px;
    margin: 0 auto;
}
.footer {
}
.footer__container {
    width: 1296px;
    margin: 0 auto;
}